<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "SouthWest">
    <!-- <test name = "SouthWest">-->
  	<test name="SouthWest" parallel="classes" thread-count="2"> 
    <parameter name="Suffix" value="DC"/>
    <parameter name="FirstName" value="kumar"/>
    <parameter name="LastName" value="LName"/>
      <classes>
         <class name = "demo.Enrollment"/>
      </classes>
   </test>
</suite>	